header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF000;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

#homeLogo {
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.637));
    transition: transform 150ms linear;

}

#homeLogo:hover {
    transform: scale(1.1);
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #000;
    font-size: 20px;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;  
    margin-right: 30px;
    transition: transform 150ms linear;
}

a#menunav:before {
    content: "";
    background-color: #390040;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a#menunav:hover {
    box-shadow: 5px 4px 0px black;
    transform:scale(1.2)
}

#button {
    display: inline-block;
    background-color: #B298DC;
    box-shadow: 5px 4px 0px black;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 150ms linear;
}

#button:hover {
    transform: scale(1.1);
}