.banner {
    box-sizing: border-box;
    background-color: #b298dc;
    background-image: url(../../assets/img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 550px;
    border-bottom: 10px solid #000;
    padding-top: 5%;
    padding-left: 5%;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 497px;
}

.banner .box {
    margin-bottom: 40px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
}